.icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: var(--h2-b), sans-serif;
}

.logo h1 {
    font-size: 48px;
    color: var(--text-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.login-box {
    background-color: rgba(22, 34, 46, 0.1);
    backdrop-filter: blur(20px);
    padding: 30px;
    border-radius: 10px;
    width: 450px;
    color: var(--text-color);
    margin-left: 65%;
}

h2 {
    text-align: center;
    color: var(--text-color);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    border-radius: var(--br-3xs);
    border: 1px solid;
    border-color:  var(--grey);
    background: var(--light1);
    color: var(--text-color);
}

input::placeholder {
    color: var(--grey);
}

.forgot {
    float: right;
    color: var(--blue1);
    text-decoration: none;
}

.forgot:hover{
    color: var(--blueHover);
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

#password {
    flex: 1;
    padding-right: 40px;
}

#togglePassword {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons {
    font-size: 20px;
}

.divider {
    text-align: center;
    margin: 15px 0;
    position: relative;
}

.divider::before, .divider::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 1px;
    background: var(--grey);
    top: 50%;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    background: var(--light1);
    color: var(--text-color);
    border: 1px solid;
    border-color: var(--grey);
    border-radius: var(--br-3xs);
    cursor: pointer;
    margin: 0;
    margin-bottom: 20px;
}

.google-btn:hover{
    background-color: var(--light1Hover);
}

.google-btn img {
    width: 25px;
    margin-right: 10px;
}

.login-btn {
    background: var(--blue1);
    color: var(--text-color);
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: var(--br-3xs);
    cursor: pointer;
}

.login-btn:hover{
    background-color: var(--blueHover);
}

.signup {
    text-align: center;
    margin-top: 10px;
}

.signup a {
    color: var(--blue1);
    text-decoration: none;
}

.signup a:hover{
    color: var(--blueHover);
}

.error-message {
    font-size: 12px;
    margin-top: 5px;
    display: block;
}
